<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"> <!-- UTF-8 인코딩 설정 -->
<style>
.logo {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 2s;
}
.logo.show {
opacity: 1;
}

@media (max-width: 768px) {
.logo {
width: 50%;
}
}
</style>

</head>
<body>
<img class="logo" src="/static/images/logo.png" alt="로고">
<script>
// 로고가 서서히 나타나도록 클래스를 추가하는 함수
function showLogo() {
  var logo = document.querySelector('.logo');
  logo.classList.add('show');

  // 1초 후에 register.html로 이동하는 함수 호출
  setTimeout(function() {
    window.location.href = '/index';
  }, 3000);
}

// 페이지 로드 시 로고를 나타내는 함수 호출
window.onload = function() {
  showLogo();
};
</script>
</body>
</html>